textarea.password {
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-shadow: none;
    transition: none;
    width: 50%;
}

iframe {
    visibility: hidden;
    display: none;
}

#display {
    text-align: center;
    display: table;
}

.git {
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: grey;
}

.git:hover {
    color: black;
}
