body {
    background-color: #EEEEEE;
    padding-top: 15px;
}
.centered {
    white-space: pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: center;
}
button {
    width: 80px;
}
iframe {
    visibility: hidden;
    display: none;
}

.git {
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

textarea {
    resize: vertical;
}