@model string
<!DOCTYPE html>
<script type="text/javascript">
    function decrypt() {
        var encrypted = document.getElementById('encrypted').value;
        var pass = document.getElementById('pass').value;
        document.getElementById('data').value = sjcl.decrypt(pass, encrypted);
    }
</script>


<input id="encrypted" type="hidden" value="@Model"/>
<div class="input-append">
    <input placeholder="password" id="pass" type="text" class="span7" />
    <button class="btn btn-primary" style="width: 80px" onclick="decrypt()">Decrypt</button>
</div>
<textarea id="data" class="span8" style="resize: vertical" rows="15"></textarea>


