@model string

<script type="text/javascript">
    function decrypt() {
        var encrypted = document.getElementById('encrypted').value;
        var pass = document.getElementById('pass').value;
        document.getElementById('data').value = sjcl.decrypt(pass, encrypted);
    }
</script>

<input id="encrypted" type="hidden" value="@Model"/>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
        <div class="input-group">
            <input placeholder="password" id="pass" type="text" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-primary pull-right" style="width: 80px" onclick="decrypt()">Decrypt</button>
            </span>
        </div>
    </div>
</div>
<br />

@Html.Partial("_Textarea")


