@model string[]

<div id="inputs">
    @Helpers.TextArea()
    <div class="row">
        <div class="@Helpers.ResponsiveClass()">
            <div class="pull-right">
                @using (Html.BeginForm("Set", "Main", FormMethod.Post, new { onsubmit = "beforeFormSubmit()", target = "iframe" }))
                {
                    <input id="id" name="id" type="hidden" />
                    <input id="encrypted" type="hidden" name="data" />
                    <br />
                    <button class="btn btn-primary" type="submit">Send</button>
                }
            </div>
        </div>
    </div>
</div>

<iframe name="iframe" height="0" width="0" onload="afterFormSubmit()"></iframe>
<div id="setresult" class="centered"></div>
<script type="text/javascript" src="~/Static/uheprng.js"></script>
<script type="text/javascript" src="~/Static/set.js"></script>
<script type="text/javascript">
    var url = '@Url.RouteUrl("Get", new { }, Request.Url.Scheme)';
</script>
