@model string[]
<div id="inputs">
    <iframe name="iframe" height="0" width="0" onLoad=" afterSend()" ></iframe>
    <textarea id="data" class="span8" style="resize: vertical" rows="15"></textarea>

    @using (Html.BeginForm("Set", "Main", FormMethod.Post, new { onsubmit = "send()", target="iframe" }))
    {
        <input id="id" name="id" type="hidden" />
        <input id="encrypted" type="hidden" name="data" />
        <button class="btn btn-primary pull-right" type="submit">Send</button>
    }
</div>

<script type="text/javascript" src="~/Static/uheprng.js"></script>
<script type="text/javascript">

    var showCreds = false;
    var urlP = Uheprng();
    var passP = Uheprng();
    urlP.initState();
    urlP.initState();
    urlP.addEntropy("@Model[0]");
    passP.addEntropy("@Model[1]");
    var stop = false;
    var urlInteverval = (Math.random() * 10) + 5;
    var passInterval = (Math.random() * 10) + 5;

    function urlG() {
        urlP.addEntropy();
        if (!stop) {
            setTimeout(urlG, urlInteverval);
        }
    }

    function passG() {
        passP.addEntropy();
        if (!stop) {
            setTimeout(passG, urlInteverval);
        }
    }

    urlG();
    passG();
    var pass = '';
    var raw = '';
    var credentials = '';
    stopGeneration = function () {
        stop = true;
        var url = '@Url.RouteUrl("Get", new { }, Request.Url.Scheme)';
        raw = sjcl.codec.base64.fromBits(sjcl.hash.sha256.hash(urlP.string(64)), true);
        var id = encodeURIComponent(raw);
        var fullUrl = url + '?id=' + id;
        pass = sjcl.codec.base64.fromBits(sjcl.hash.sha256.hash(passP.string(64)), true);
        credentials = fullUrl + '<br/><br/>' + pass;
    };

    function send() {
        stopGeneration();
        var data = document.getElementById('data').value;
        document.getElementById('id').value = raw;
        document.getElementById('encrypted').value = sjcl.encrypt(pass, data);
        showCreds = true;
    };

    
    function afterSend() {
        if (showCreds) {
            document.title = "passcache";
            clear();
            document.getElementById('display').innerHTML = credentials;
        }
        showCreds = false;
    }

    function clear() {
        var n = document.getElementById('inputs');
        n.parentNode.removeChild(n);
    }
    
</script>
