@*<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link type="text/css"  rel="stylesheet" href="/Static/bootstrap.min.css" type="text/css"/>
        <script type="text/javascript" src="/Static/sjcl.js"></script>
    
    </head>
    <body>
        @RenderBody()
    </body>
</html>
*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>passcashe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/Static/bootstrap.min.css" />
    <script type="text/javascript" src="/Static/sjcl.js"></script>
</head>

<body style="padding-top: 50px;">
    <div class="container-narrow">
        <div class="row">
            <div class="offset2 span8 well">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

