html {
    height: 100%;
}

.container-fluid {
    background-color: #EEEEEE;
}
.wrapout {
    padding-bottom: 60px;
}

.wrapin {
    min-height: 100%;
    margin-bottom: -60px;
    width: 100%;
}

body {
    background-color: #EEEEEE;
    padding-top: 15px;
    height: 100%;
}

.centered {
    white-space: pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: center;
}

img {
    margin-top: 20px;
}

button {
    width: 80px;
}


#copy-button {
    width: 200px;
}

iframe {
    visibility: hidden;
    display: none;
}

.git {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-right: 20px;
    text-align: right;
}

textarea {
    resize: vertical;
}

.info-only {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
    color: #888888;
}

#accessUrl
{
    font-size: larger;
    width: 400px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-text-justify: auto;
    text-justify: auto;
}
