<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PassCacheTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PassCacheTray.Properties.Settings>
            <setting name="ComboKey1" serializeAs="String">
                <value>CTRL</value>
            </setting>
            <setting name="ComboKey2" serializeAs="String">
                <value>SHIFT</value>
            </setting>
            <setting name="ComboLetter" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="PassCacheUrl" serializeAs="String">
                <value>https://passcache.greenfinch.ie/</value>
            </setting>
        </PassCacheTray.Properties.Settings>
    </userSettings>
</configuration>